Updated Document changes

Regarding "Appendix A.  Changes from RFC 8504"

Given that I suspect most implementors will look at this section to see what changed, I think it would be good to expand this to include more background for the changes.  Some examples:

   2.   Added support for RFC 9131.

Include the title of the RFC.

   3.   Type C host from RFC 4191 is went from a SHOULD to MUST.

   4.   Removed the Mobility Section.

Good to explain why it was removed.

   5.   Removed the SEND Section.

ditto

   6.   Added Discovery of translation prefixes Section.

Suggest including RFC #

   7.   Added MUST requirement for Rul 5.5 in RFC 6724.

s/Rul/Rule/

   8.   Added Discovery of encrypted DNS resolver, RFC 9463.

   9.   Added requirement to support PMTUD and PLPMTUD.

Maybe add RFC numbers.

   10.  Removed Extension Header protection text to utilize draft-ietf-
        6man-eh-limits.


Resolved in bis-02.