Fix Support for discovery of translation prefixes

The current text refers to [[RFC8781](https://www.rfc-editor.org/rfc/rfc8781)], but does not state whether this is a SHOULD, MUST or may, but says "MAY also support [[RFC7050](https://www.rfc-editor.org/rfc/rfc7050)]"

Section 7 on DNS says "SOULD" support RFC7050.

We must make this consistent to RFC9872 and should either make make 8781 a MUST or SHOULD and have RFC7050 as a fallback with SHOULD or MAY.